# App
PORT=3000
NODE_ENV=local # optional
API_PREFIX=api # optional
LOG_LEVEL=info    # optional
# CORS_ORIGIN=* # All
CORS_ORIGIN=http://localhost:5173 # Frontend url domain

# Database
DB_NAME=ferry_db
DB_HOST=localhost
DB_PORT=5433
DB_USERNAME=postgres
DB_PASSWORD=ferrydb@pass
DATABASE_URL=postgresql://postgres:ferrydb@pass@localhost:5433/ferry_db?schema=public

# Rate limiting
# Significa: máximo 100 requests por minuto por IP. Si se supera, NestJS responde automáticamente con 429 Too Many Requests
RATE_LIMIT_TTL=60 #segundos - optional
RATE_LIMIT_MAX=100 #max requests por TTL por IP - optional

# Pagination
PAGINATION_LIMIT=10
PAGINATION_PAGE=1

# Business
TAXES_VALUE=0 # Ej: 10% de impuestos - optional
SERVICE_FEE_VALUE=0 # Fee fijo por servicio - optional
DISCOUNT_VALUE=0 # Descuento - optional
HOLD_EXPIRATION_MINUTES=15 # optional
CHECK_IN_TIME=30 # min
TICKET_CODE_PREFIX=TKT # optional
